* {
    font-family: sans-serif;
    color: #383838;
    font-weight: normal;
    box-sizing: border-box;
}

body {
    background: #f7f7fa;
    padding: 50px;
}

h1, h2, p {
    text-align: center;
}

.container {
    width: 700px;
    padding: 50px;
    background: white;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    border-top: 3px solid #fc2749;
    box-shadow: 0px 0px 10px #c6c6c6;
}

#interests > div {
    border: 1px solid #c6c6c6;
    display: inline-block;
}

#position::after {
    content: "";
    display: block;
    width: 70px;
    height: 5px;
    background-color: #fc2749;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

input, #interests > div, textarea {
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}

input#first_name, input#last_name, #interests > div {
    width: 47%;
}

input#position, textarea#description {
    width: 100%;
}

form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

div#interests {
    width: 100%;
}

form > button {
    width: 100%;
    padding: 15px;
    color: white;
    background: #fc2749;
    border: none;
    border-radius: 5px;
}

#registration_form > input {
    width: 100%;
}

div#interests > div:nth-of-type(2n) {
  margin-left: 6%;
}

input[type="checkbox"] {
    float: left;
}